$pinkred: #ff4b5c;
$blue: #a489f0;
$lightgrey: #f5f7fa;
$grey: #888888;
$darkgrey: #333333;
$success-color: #28a745; 

// Các biến liên quan đến giao diện
$background-gradient: linear-gradient(135deg, #f5f7fa, #c3cfe2);
$font-primary: "Nunito", sans-serif;
$form-background: #ffff;
$input-border-color: #ddd;
$input-focus-border: $blue;
$button-color: $blue;
$button-hover: #3f6185;
$primary-color: $blue;
$primary-hover: #0056b3;
$border-radius: 8px;
$border-radius-large: 12px;
$box-shadow-large: 0 4px 12px rgba(0, 0, 0, 0.1);
$box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.1);

// Màu chữ
$text-color: $darkgrey;
$error-color: #ff4b5c;

// Màu link
$link-color: $blue;
$link-hover: darken($blue, 10%);

// Hiệu ứng
$transition-fast: 0.2s ease-in-out;
$transition-slow: 0.4s ease-in-out;